<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title> Menu </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item-divider color="primary">Categories</ion-item-divider>
          <ion-menu-toggle>
            <ion-item button (click)="showCategory(cat.title)" *ngFor="let cat of categories">
              <ion-icon [name]="cat.icon" slot="start"></ion-icon>
              <div class="my-container-label">
                <ion-label class="my-container-title">{{ cat.title }}</ion-label>
                <ion-label color="medium">{{ cat.description }}</ion-label>
              </div>
            </ion-item>
          </ion-menu-toggle>
          <ion-item-divider color="primary">Mon Compte</ion-item-divider>
          <ion-menu-toggle>
            <ion-item button (click)="goTo('profile')">
              <ion-icon name="contact" slot="start"></ion-icon> 
              <div class="my-container-label">
                <ion-label class="my-container-title">Profil</ion-label>
                <ion-label color="medium">Bienvenue !</ion-label>
              </div>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item button (click)="goTo('messagerie')">
              <ion-icon name="mail" slot="start"></ion-icon>
              <div class="my-container-label">
                <ion-label class="my-container-title">Messagerie</ion-label>
                <ion-label color="medium">Consultez vos message</ion-label>
              </div>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item button (click)="goTo('cart')">
              <ion-icon name="card" slot="start"></ion-icon>
              <div class="my-container-label">
                <ion-label class="my-container-title">Panier</ion-label>
                <ion-label color="medium">Consultez votre panier</ion-label>
              </div>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
