<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar showCancelButton animated (ionInput)="onSearch($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."> 
    </ion-refresher-content> 
</ion-refresher>

  <ion-list>
    <ion-item (click)="showDetails(article.id)" button *ngFor="let article of articles">
      <ion-thumbnail (click)="showImage(article.pictures[0], article.title, $event)" slot="start">
        <ion-img [src]="'http://localhost:3000/api/Containers/photos/download/'+article.pictures[0]">

        </ion-img>
      </ion-thumbnail>
      <div class="my-container-label">
        <ion-label class="my-container-title">
          {{ article.title }}
        </ion-label>
        <ion-label color="medium">
          {{ article.description.substr(0, 30) }}
        </ion-label>
        <div class="span-container">
          <span class="price">{{ article.price | currency }}</span>
          <span *ngIf="article.averageStar >=1">
            <ion-icon class="iconStart" name="star"></ion-icon>
          </span>
          <span *ngIf="article.averageStar >=2">
            <ion-icon class="iconStart" name="star"></ion-icon>
          </span>
          <span *ngIf="article.averageStar >=3">
            <ion-icon class="iconStart" name="star"></ion-icon>
          </span>
          <span *ngIf="article.averageStar >=4">
            <ion-icon class="iconStart" name="star"></ion-icon>
          </span>
          <span *ngIf="article.averageStar >=5">
            <ion-icon class="iconStart" name="star"></ion-icon>
          </span>
        </div>
      </div>
    </ion-item>
  </ion-list>




  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  <div>
    <ion-label>Nom</ion-label>
    <ion-input type="text" [(ngModel)]="nom"></ion-input>
  </div>
  <div>
    <ion-label>Description</ion-label>
    <ion-input type="text" [(ngModel)]="description"></ion-input>
  </div>
  <ion-button (click)="insertArticle()">Insérer</ion-button>
  <ion-button (click)="updateArticle()">Update</ion-button>
  <ion-button (click)="removeArticle()">Remove</ion-button> -->
</ion-content >

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="goToCreate()" shape="round" size="large" expand="full"> 
      Vendre 
    </ion-button>
  </ion-toolbar>
</ion-footer>
